.conatiner {
    width: 1000px;
    margin: auto;
}
.regi{
    margin-left: 500px;
}
label {
    width: 240px;
    display: inline-block;
    margin-bottom: 15px;
}

body{
    background-color: lightblue;
}
.table{
    margin-top: 40px;
    border: 1px solid black;
}
.row{
    margin-top: 40px;
}
.create{
    margin-top: 40px;
}