body{
    background-color: black;
}
.mylogo {
    justify-content: center;
    padding-top: 30px;
    display: flex;
}

.mylogo img {
    height: 55px;
}

.mytitle {
    justify-content: center;
    padding-top: 30px;
    color: red;
    display: flex;
}

.mylist {
    padding-top: 30px;
}

.image-caption {
    display: flex;
    justify-content: center;
    padding-left: 5px;
    margin-top: 30px;
}

.image {
    margin-left: 30px;
}

.content {
    width: 215px;
    height: 315px;
    margin-bottom: 0px;
    background-color: black;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 800;
    color: white;
}

.figure-caption {
    background-color: darkolivegreen;
    padding: 0%;
    color: white;
}
.paragraph {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
}